.buttons {
	color:white;
	font-size: 30px;
	padding-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

.div1 {
	background-color:grey;
	height: 150px;
	width: 1350px;
}
.div3 {
	 background-color:black;
	 height: 440px;
	 width: 500px;
	 float:left;
	 color:white;

}
.div4 {
	background-color:cyan;
	height: 440px;
	width: 850px;
	 float:left;
	 color:white; 
}
.div2 {
	margin: auto;
}
.Myname {
	color:white;
	padding-left:50px;
	padding-top:20px;
}
.student {
	color:white;
	padding-left:75px;
	font-size: 20px;
}
.learner {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.sports {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.family {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.entergetic {
	color: white;
	padding-left: 90px;
	padding-top: 20px;
	font-size: 27px;
}
.determined {
	color: white;
	padding-left: 90px;
	font-size: 27px;
}
.open {
	color: white;
	padding-left: 90px;
	font-size: 27px;
}
.shortbio {
	color: white;
	padding-left: 115px;
	font-size: 16px;
	padding-right: 340px;
}






