.buttons {
	color:white;
	font-size: 30px;
	padding: 10px;
	text-align: center;
}

.div1 {
	background-color:blue;
	height: 150px;
	width: 1350px;
}
.div3 {
	 background-color:black;
	 height: 440px;
	 width: 500px;
	 float:left;
	 color:white;

}
.div4 {
	background-color:red;
	height: 440px;
	width: 850px;
	 float:left;
	 color:white; 
	 flex: 1;
}
.div2 {
	margin: auto;
	display: flex;
}
.Myname {
	color:white;
	padding-left:50px;
	padding-top:20px;
}
.student {
	color:white;
	padding-left:75px;
	font-size: 20px;
}
.learner {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.sports {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.family {
	color:white;
	padding-left: 75px;
	font-size: 20px;
}
.entergetic {
	color: white;
	padding-left: 90px;
	padding-top: 20px;
	font-size: 27px;
}
.determined {
	color: white;
	padding-left: 90px;
	font-size: 27px;
}
.open {
	color: white;
	padding-left: 90px;
	font-size: 27px;
}
.shortbio {
	color: white;
	padding-left: 115px;
	font-size: 16px;
	padding-right: 45px;
}
.profile {
	padding: 20px;
	background-color: red;
}
.pictures {
	padding-left: 55px;
	background-color: black;
}
.div5 {
	height: 440px;
	width: 1350px;
	background-color: red;
	color: white;
}
.div6 {
	height: 570px;
	width: 975px;
	background-color: black;
	color: white;
	text-align: center;
	padding-left: 375px;
}


